# macOS
**/.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/

# Data (allow everything except audio)
data/audio/
data/audio/**

# (Optional) also ignore common audio extensions anywhere, in case they appear outside data/audio
*.wav
*.mp3
*.m4a
*.aac
*.flac
*.ogg
*.wma
*.aiff
*.aif

# Environments
.env
.venv
env/
venv/
__pycache__/
*.pyc

# LaTeX
report/
# LaTeX source (ignore .tex, keep PDF)
final-report.tex